{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Intescia API",
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://v1.api.intescia.dev",
    "description" : "v1 API"
  } ],
  "security" : [ {
    "BearerAuth" : [ ]
  }, {
    "OpenID" : [ ]
  } ],
  "paths" : {
    "/users/{userId}/deal-opportunities" : {
      "post" : {
        "tags" : [ "DealOpportunities" ],
        "operationId" : "findUserDealOpportunities",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "searchContextType",
          "in" : "query",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/SearchContextTypeEnum"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Zero-based page index (0..N)",
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page to be returned",
          "schema" : {
            "type" : "integer",
            "default" : 20
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MyDealOpportunitiesFilterRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageDealOpportunitySearchHitModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdditionalFieldEnum" : {
        "type" : "string",
        "enum" : [ "AWARDED_AMOUNT", "BENEFICIARIES", "CONTRACT_TYPE", "CUSTOMER_FIELDS", "ESTIMATED_AMOUNT", "EXECUTION_CITIES", "INTERLOCUTORS", "NOTICES" ]
      },
      "AssigneeDto" : {
        "required" : [ "firstName", "lastName", "userId" ],
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "AssignerDto" : {
        "required" : [ "email", "firstName", "lastName", "userId" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "BeneficiaryDto" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "nationalId" : {
            "type" : "string"
          },
          "place" : {
            "$ref" : "#/components/schemas/PlaceDto"
          }
        }
      },
      "CollaborativeDealOpportunityDto" : {
        "type" : "object",
        "properties" : {
          "favoriteId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "teamIds" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }
      },
      "ContractSourceEnum" : {
        "type" : "string",
        "enum" : [ "BOAMP", "JOUE", "INTERNATIONAL", "PERMIT", "PQR", "PRESCRIPTION", "UPSTREAM_PROJECT", "SPAIN_MINFI", "CONFIDENTIAL", "SPAIN_MADRID" ]
      },
      "ContractStateEnum" : {
        "type" : "string",
        "enum" : [ "FUTURE", "ONGOING", "AWARDED", "NOT_AWARDED", "EXPIRED", "DISMISSED", "UNSUCCESSFUL", "UNSUCCESSFUL_DISMISSED" ]
      },
      "ContractTypeEnum" : {
        "type" : "string",
        "enum" : [ "WORKS", "SUPPLY", "SERVICES", "DESIGN_AND_STUDIES" ]
      },
      "CustomDateFieldFilter" : {
        "type" : "object",
        "properties" : {
          "rangeEnd" : {
            "type" : "string",
            "format" : "date"
          },
          "rangeStart" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "CustomFieldFilters" : {
        "required" : [ "customFieldConfigurationId" ],
        "type" : "object",
        "properties" : {
          "customFieldConfigurationId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "dateFieldFilters" : {
            "$ref" : "#/components/schemas/CustomDateFieldFilter"
          },
          "listFieldFilters" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "textFieldFilter" : {
            "type" : "string"
          }
        }
      },
      "DealOpportunityEntityTypeEnum" : {
        "type" : "string",
        "enum" : [ "CONTRACT", "LOT", "CONFIDENTIAL_CONTRACT", "CONFIDENTIAL_LOT", "TERRITORIAL_DOCUMENT" ]
      },
      "DealOpportunityMetadata" : {
        "required" : [ "archived", "crmExported", "customized", "dieAvailable", "hasQuestionsAnswers" ],
        "type" : "object",
        "properties" : {
          "archived" : {
            "type" : "boolean"
          },
          "assignees" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AssigneeDto"
            }
          },
          "collaborativeDealOpportunities" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CollaborativeDealOpportunityDto"
            }
          },
          "crmExported" : {
            "type" : "boolean"
          },
          "customized" : {
            "type" : "boolean"
          },
          "dieAvailable" : {
            "type" : "boolean"
          },
          "hasQuestionsAnswers" : {
            "type" : "boolean"
          },
          "lastSent" : {
            "type" : "string",
            "format" : "date-time"
          },
          "myDealOpportunity" : {
            "$ref" : "#/components/schemas/MyDealOpportunityDto"
          },
          "referencedCollaborativeDealOpportunities" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CollaborativeDealOpportunityDto"
            }
          },
          "referencedMyDealOpportunity" : {
            "$ref" : "#/components/schemas/MyDealOpportunityDto"
          },
          "searchProfileNames" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "viewers" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/UserModel"
            }
          }
        }
      },
      "DealOpportunityModel" : {
        "required" : [ "dealOpportunityResultType", "hasDocuments", "id", "originalLanguage", "placesCodes", "principal", "publication", "translations" ],
        "type" : "object",
        "properties" : {
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "awardedAmount" : {
            "$ref" : "#/components/schemas/SingleMonetaryValue"
          },
          "beneficiaries" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BeneficiaryDto"
            }
          },
          "contractId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "contractTranslations" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DealOpportunityTranslationDto"
            }
          },
          "contractTypes" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContractTypeEnum"
            }
          },
          "councilDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "customerFields" : {
            "type" : "object",
            "additionalProperties" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "deadline" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dealOpportunityResultType" : {
            "$ref" : "#/components/schemas/DealOpportunityEntityTypeEnum"
          },
          "estimatedAmount" : {
            "$ref" : "#/components/schemas/SingleMonetaryValue"
          },
          "executionCities" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "executions" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PlaceDto"
            }
          },
          "floorArea" : {
            "type" : "integer",
            "format" : "int32"
          },
          "hasDocuments" : {
            "type" : "boolean"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "interlocutors" : {
            "type" : "object",
            "additionalProperties" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/TinyInterlocutorDto"
              }
            }
          },
          "interlocutorsCount" : {
            "type" : "integer",
            "format" : "int64"
          },
          "lotNumber" : {
            "type" : "string"
          },
          "lotsCount" : {
            "type" : "integer",
            "format" : "int64"
          },
          "noticeFirstPublication" : {
            "type" : "string",
            "format" : "date"
          },
          "notices" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/NoticeDto"
            }
          },
          "originalLanguage" : {
            "$ref" : "#/components/schemas/LanguageEnum"
          },
          "placesCodes" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PlaceCodeDto"
            }
          },
          "posting" : {
            "type" : "string",
            "format" : "date-time"
          },
          "principal" : {
            "$ref" : "#/components/schemas/PrincipalDto"
          },
          "progress" : {
            "$ref" : "#/components/schemas/ProgressEnum"
          },
          "projectType" : {
            "$ref" : "#/components/schemas/ProjectTypeEnum"
          },
          "publication" : {
            "type" : "string",
            "format" : "date"
          },
          "renewal" : {
            "type" : "string",
            "format" : "date"
          },
          "response" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sources" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContractSourceEnum"
            }
          },
          "start" : {
            "type" : "string",
            "format" : "date"
          },
          "state" : {
            "$ref" : "#/components/schemas/ContractStateEnum"
          },
          "translations" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DealOpportunityTranslationDto"
            }
          },
          "worksEnd" : {
            "type" : "string",
            "format" : "date"
          },
          "worksStart" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "DealOpportunitySearchHitModel" : {
        "required" : [ "dealOpportunity", "metadata", "searchHitMetadata" ],
        "type" : "object",
        "properties" : {
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "dealOpportunity" : {
            "$ref" : "#/components/schemas/DealOpportunityModel"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/DealOpportunityMetadata"
          },
          "searchHitMetadata" : {
            "$ref" : "#/components/schemas/SearchHitMetadata"
          }
        }
      },
      "DealOpportunityTranslationDto" : {
        "required" : [ "language", "object" ],
        "type" : "object",
        "properties" : {
          "language" : {
            "$ref" : "#/components/schemas/LanguageEnum"
          },
          "object" : {
            "type" : "string"
          }
        }
      },
      "FavoritesFilter" : {
        "required" : [ "emptyFavorite", "favoriteIds" ],
        "type" : "object",
        "properties" : {
          "emptyFavorite" : {
            "type" : "boolean"
          },
          "favoriteIds" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }
      },
      "FilterableFieldEnum" : {
        "type" : "string",
        "enum" : [ "BENEFICIARY_LOCATIONS", "BENEFICIARY_NAME", "CITY_EXECUTIONS", "CONTRACT_ID", "CONTRACT_TYPE", "DEADLINE_DATE", "EXECUTION_LOCATIONS", "INTERLOCUTOR_ROLE", "NOTICE_FIRST_PUBLICATION_DATE", "NOTICE_TYPE", "OBJECT", "PLACES", "POSTING_DATE", "PRINCIPAL_LOCATIONS", "PRINCIPAL_NAME", "PROGRESS", "PROJECT_TYPE", "PUBLICATION_DATE", "RENEWAL_DATE", "RESPONSE_DATE", "SOURCE", "STATE", "WITH_LOTS" ]
      },
      "GeocodingDto" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "countryCode" : {
            "type" : "string"
          },
          "inseeCode" : {
            "type" : "string"
          },
          "latitude" : {
            "type" : "number",
            "format" : "double"
          },
          "longitude" : {
            "type" : "number",
            "format" : "double"
          },
          "maxAdministrativeAreaLevel" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nutsCode" : {
            "type" : "string"
          },
          "zipCode" : {
            "type" : "string"
          }
        }
      },
      "HighlightDocumentsMessage" : {
        "required" : [ "fileName", "fromContractEntity", "fromLotEntity", "id", "messages" ],
        "type" : "object",
        "properties" : {
          "fileName" : {
            "type" : "string"
          },
          "fromContractEntity" : {
            "type" : "boolean"
          },
          "fromLotEntity" : {
            "type" : "boolean"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "messages" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "LanguageEnum" : {
        "type" : "string",
        "enum" : [ "AA", "AB", "AE", "AF", "AK", "AM", "AN", "AR", "AS", "AV", "AY", "AZ", "BA", "BE", "BG", "BH", "BI", "BM", "BN", "BO", "BR", "BS", "CA", "CE", "CH", "CO", "CR", "CS", "CU", "CV", "CY", "DA", "DE", "DV", "DZ", "EE", "EL", "EN", "EO", "ES", "ET", "EU", "FA", "FF", "FI", "FJ", "FO", "FR", "FY", "GA", "GD", "GL", "GN", "GU", "GV", "HA", "HE", "HI", "HO", "HR", "HT", "HU", "HY", "HZ", "IA", "ID", "IE", "IG", "II", "IK", "IO", "IS", "IT", "IU", "JA", "JV", "KA", "KG", "KI", "KJ", "KK", "KL", "KM", "KN", "KO", "KR", "KS", "KU", "KV", "KW", "KY", "LA", "LB", "LG", "LI", "LN", "LO", "LT", "LU", "LV", "MG", "MH", "MI", "MK", "ML", "MN", "MO", "MR", "MS", "MT", "MY", "NA", "NB", "ND", "NE", "NG", "NL", "NN", "NO", "NR", "NV", "NY", "OC", "OJ", "OM", "OR", "OS", "PA", "PI", "PL", "PS", "PT", "QU", "RC", "RM", "RN", "RO", "RU", "RW", "SA", "SC", "SD", "SE", "SG", "SH", "SI", "SK", "SL", "SM", "SN", "SO", "SQ", "SR", "SS", "ST", "SU", "SV", "SW", "TA", "TE", "TG", "TH", "TI", "TK", "TL", "TN", "TO", "TR", "TS", "TT", "TW", "TY", "UG", "UK", "UR", "UZ", "VE", "VI", "VO", "WA", "WO", "XH", "YI", "YO", "ZA", "ZH", "ZU", "ZZ" ]
      },
      "Link" : {
        "type" : "object",
        "properties" : {
          "deprecation" : {
            "type" : "string"
          },
          "href" : {
            "type" : "string"
          },
          "hreflang" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "profile" : {
            "type" : "string"
          },
          "templated" : {
            "type" : "boolean"
          },
          "title" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "Links" : {
        "type" : "object",
        "additionalProperties" : {
          "$ref" : "#/components/schemas/Link"
        }
      },
      "MyDealOpportunitiesFilterRequest" : {
        "type" : "object",
        "properties" : {
          "additionalFields" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AdditionalFieldEnum"
            }
          },
          "archived" : {
            "type" : "boolean"
          },
          "assignee" : {
            "type" : "string"
          },
          "assigner" : {
            "type" : "string"
          },
          "customFieldConfigurationIds" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          },
          "customFieldFilters" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CustomFieldFilters"
            }
          },
          "favoritesFilter" : {
            "$ref" : "#/components/schemas/FavoritesFilter"
          },
          "filters" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SearchFilter"
            }
          },
          "geocoding" : {
            "type" : "boolean"
          },
          "notPresentInCollaborativeMode" : {
            "type" : "boolean"
          },
          "renewalFilter" : {
            "$ref" : "#/components/schemas/RenewalFilter"
          },
          "requestedInterlocutorRoles" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RoleEnum"
            }
          }
        }
      },
      "MyDealOpportunityDto" : {
        "type" : "object",
        "properties" : {
          "assigner" : {
            "$ref" : "#/components/schemas/AssignerDto"
          },
          "favoriteId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "NoticeDto" : {
        "required" : [ "noticeIndexationPublication", "referenceId", "source" ],
        "type" : "object",
        "properties" : {
          "noticeIndexationPublication" : {
            "type" : "string",
            "format" : "date"
          },
          "noticeType" : {
            "$ref" : "#/components/schemas/NoticeTypeEnum"
          },
          "referenceId" : {
            "type" : "string"
          },
          "source" : {
            "$ref" : "#/components/schemas/NoticeSourceEnum"
          }
        }
      },
      "NoticeSourceEnum" : {
        "type" : "string",
        "enum" : [ "BOAMP_V230", "BOAMP_V240", "BOAMP_V325", "JOUE_V2080201", "JOUE_V2080301", "JOUE_V2080401", "JOUE_V2080501", "JOUE_V2090101", "JOUE_V2090201", "JOUE_V2090301", "JOUE_V2090401", "JOUE_V2090501", "JOUE_EFORMS_V1", "PQR_IMAVIS_V2", "PQR_KAPOW_V1", "PQR_MANUAL", "PQR_TAMARIS", "PRESCRIPTION_V1", "PRESCRIPTION_V2", "SPAIN_MADRID_V280", "SPAIN_MINFI_V270" ]
      },
      "NoticeTypeEnum" : {
        "type" : "string",
        "enum" : [ "PRIOR_INFORMATION", "PREQUALIFICATION", "CALL_FOR_TENDERS", "CORRECTION", "CANCELLATION", "SUBCONTRACT", "EXANTE_VOLUNTARY", "AWARD", "BUILDING_PERMIT", "DEMOLISHING_PERMIT", "PRESCRIPTION", "UPSTREAM_PROJECT", "RECTIFICATIF_AWARD", "OTHER" ]
      },
      "Order" : {
        "required" : [ "direction", "property" ],
        "type" : "object",
        "properties" : {
          "direction" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          },
          "ignoreCase" : {
            "type" : "boolean"
          },
          "nullHandling" : {
            "type" : "string",
            "enum" : [ "NATIVE", "NULLS_FIRST", "NULLS_LAST" ]
          },
          "property" : {
            "type" : "string"
          }
        }
      },
      "PageDealOpportunitySearchHitModel" : {
        "required" : [ "content", "number", "size", "totalElements", "totalPages" ],
        "type" : "object",
        "properties" : {
          "content" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DealOpportunitySearchHitModel"
            }
          },
          "number" : {
            "type" : "integer",
            "format" : "int64"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "sort" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Order"
            }
          },
          "totalElements" : {
            "type" : "integer",
            "format" : "int64"
          },
          "totalPages" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PlaceCodeDto" : {
        "required" : [ "countryCode" ],
        "type" : "object",
        "properties" : {
          "countryCode" : {
            "type" : "string"
          },
          "departementCode" : {
            "type" : "string"
          }
        }
      },
      "PlaceDto" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "countryCode" : {
            "type" : "string"
          },
          "departmentCode" : {
            "type" : "string"
          },
          "geocoding" : {
            "$ref" : "#/components/schemas/GeocodingDto"
          },
          "inseeCode" : {
            "type" : "string"
          },
          "nutsCode" : {
            "type" : "string"
          },
          "zipCode" : {
            "type" : "string"
          }
        }
      },
      "PrincipalDto" : {
        "required" : [ "translations" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string"
          },
          "nationalId" : {
            "type" : "string"
          },
          "place" : {
            "$ref" : "#/components/schemas/PlaceDto"
          },
          "translations" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PrincipalTranslationDto"
            }
          },
          "website" : {
            "type" : "string"
          }
        }
      },
      "PrincipalTranslationDto" : {
        "required" : [ "language", "name" ],
        "type" : "object",
        "properties" : {
          "language" : {
            "$ref" : "#/components/schemas/LanguageEnum"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "ProgressEnum" : {
        "type" : "string",
        "enum" : [ "PROJECT", "PROGRAMMER_SELECTED", "SELECTED_DESIGN", "DESIGN_STUDY", "STUDIES", "SUBMITTED_BUILD_PERMIT", "GRANTED_BUILD_PERMIT", "PROJECT_STUDY", "BUSINESS_CONSULTATION", "SELECTED_BUSINESS", "PROJECT_CANCELED", "DONE_TENDER", "WORK_STARTED", "WORK_COMPLETED" ]
      },
      "ProjectTypeEnum" : {
        "type" : "string",
        "enum" : [ "PUBLIC", "PRIVATE", "UNKNOWN" ]
      },
      "RenewalFilter" : {
        "type" : "object",
        "properties" : {
          "originalFavoritesFilter" : {
            "$ref" : "#/components/schemas/FavoritesFilter"
          },
          "renewalView" : {
            "type" : "boolean"
          }
        }
      },
      "RoleEnum" : {
        "type" : "string",
        "enum" : [ "UNKNOWN", "ARCHITECT", "PROJECT_MANAGER", "PROJECT_OWNER", "ECONOMIST", "DESIGN_OFFICE", "PROGRAMMER", "SURVEYOR", "TECHNICAL_CONTROLLER", "REPORTER", "LANDSCAPE_ARCHITECT", "DELEGATE_PROJECT_OWNER", "PROMOTER", "GENERAL_CONTRACTOR", "BUYER", "SOIL_SURVEY_ENGINEER", "SPS_ENGINEER", "REPRESENTATIVE", "TOWN_PLANNER", "DESIGN_OFFICE_FLUID", "DESIGN_OFFICE_STRUCTURES", "DESIGN_OFFICE_ACOUSTIC", "DESIGN_OFFICE_ROAD", "DESIGN_OFFICE_GENERAL", "DESIGN_OFFICE_THERMAL", "DESIGN_OFFICE_ENVIRONMENT", "DESIGN_OFFICE_GEOTECH", "DESIGN_OFFICE_ELECTRICITY", "DESIGN_OFFICE_KITCHEN", "OPC_ENGINEER", "SET_DESIGNER", "OTHER", "DESIGN_OFFICE_LIGHTING", "SECONDARY_PRINCIPAL" ]
      },
      "SearchContextTypeEnum" : {
        "type" : "string",
        "enum" : [ "CONTRACTS", "RENEWALS", "TERRITORIAL_DOCUMENTS", "SEARCH_BY_NATIONAL_ID" ]
      },
      "SearchFilter" : {
        "type" : "object",
        "properties" : {
          "fields" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FilterableFieldEnum"
            }
          },
          "operator" : {
            "$ref" : "#/components/schemas/SearchOperator"
          },
          "values" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "SearchHitMetadata" : {
        "required" : [ "documentsMatch" ],
        "type" : "object",
        "properties" : {
          "documentsMatch" : {
            "type" : "boolean"
          },
          "highlightDocuments" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/HighlightDocumentsMessage"
              }
            }
          },
          "highlightFields" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "SearchOperator" : {
        "type" : "string",
        "enum" : [ "EQUALS", "LESS_THAN", "GREATER_THAN", "BEGIN_WITH", "CONTAINS", "GEO_BOX_INSIDE", "BETWEEN" ]
      },
      "SingleMonetaryValue" : {
        "required" : [ "currencyCode", "singleValue" ],
        "type" : "object",
        "properties" : {
          "currencyCode" : {
            "type" : "string"
          },
          "singleValue" : {
            "type" : "number"
          }
        }
      },
      "TinyInterlocutorDto" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "countryCode" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          },
          "nationalId" : {
            "type" : "string"
          }
        }
      },
      "UserModel" : {
        "required" : [ "creation", "disabledBySystem", "email", "enabled", "firstName", "fullName", "id", "lastName", "locale", "newsletter", "organizationId", "singleSignOnEnabled", "verified" ],
        "type" : "object",
        "properties" : {
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "civility" : {
            "type" : "string",
            "enum" : [ "MISTER", "MADAM" ]
          },
          "creation" : {
            "type" : "string",
            "format" : "date"
          },
          "disabledBySystem" : {
            "type" : "boolean"
          },
          "email" : {
            "type" : "string"
          },
          "enabled" : {
            "type" : "boolean"
          },
          "firstName" : {
            "type" : "string"
          },
          "fullName" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "information" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "locale" : {
            "type" : "string",
            "format" : "locale",
            "example" : "fr_FR"
          },
          "newsletter" : {
            "type" : "boolean"
          },
          "organizationId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "phoneNumber" : {
            "type" : "string"
          },
          "singleSignOnEnabled" : {
            "type" : "boolean"
          },
          "title" : {
            "type" : "string"
          },
          "verified" : {
            "type" : "boolean"
          }
        }
      }
    },
    "securitySchemes" : {
      "BearerAuth" : {
        "type" : "http",
        "description" : "Bearer token",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      },
      "OpenID" : {
        "type" : "openIdConnect",
        "openIdConnectUrl" : "https://sso.intescia.com/realms/intescia/.well-known/openid-configuration"
      }
    }
  }
}
