{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Intescia API",
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://v1.api.intescia.dev",
    "description" : "v1 API"
  } ],
  "security" : [ {
    "BearerAuth" : [ ]
  }, {
    "OpenID" : [ ]
  } ],
  "paths" : {
    "/me/organization/favorites" : {
      "post" : {
        "tags" : [ "Favorites" ],
        "operationId" : "getMyOrganizationFavorites",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FavoriteTypeFilter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FavoriteDto"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "FavoriteDescriptionEnum" : {
        "type" : "string",
        "enum" : [ "ACTION", "DECISION", "RESULT", "STATUS_TO_BE_DEFINED" ]
      },
      "FavoriteDto" : {
        "required" : [ "color", "icon", "id", "position", "type", "version" ],
        "type" : "object",
        "properties" : {
          "color" : {
            "maxLength" : 7,
            "minLength" : 0,
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "descriptionTranslationKey" : {
            "$ref" : "#/components/schemas/FavoriteDescriptionEnum"
          },
          "favoriteWorkflowRule" : {
            "$ref" : "#/components/schemas/FavoriteWorkflowRuleDto"
          },
          "icon" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string"
          },
          "nameForExport" : {
            "type" : "string"
          },
          "nameTranslationKey" : {
            "$ref" : "#/components/schemas/FavoriteNameEnum"
          },
          "position" : {
            "type" : "integer",
            "format" : "int32"
          },
          "type" : {
            "$ref" : "#/components/schemas/FavoriteTypeEnum"
          },
          "version" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "FavoriteNameEnum" : {
        "type" : "string",
        "enum" : [ "APPLICATION_SENT", "GO", "IN_PROGRESS", "INTERESTED", "LOST", "NEGOCIATION_IN_PROGRESS", "NO_GO", "NO_RESPONSE", "NOT_APPLICABLE", "OFF_TARGET", "PENDING", "PENDING_DECISION", "PLANNED", "RESPONSE_BEING_PREPARED", "RESPONSE_SENT", "TO_ANALYSE", "TO_COMPARE", "TO_CONTACT", "TO_LOOK", "UNKNOWN", "UNSUCCESSFUL", "WON" ]
      },
      "FavoriteTypeEnum" : {
        "type" : "string",
        "enum" : [ "CONTRACT", "ESTABLISHMENT", "COLLABORATIVE_MODE_STATUS" ]
      },
      "FavoriteTypeFilter" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/FavoriteTypeEnum"
          }
        }
      },
      "FavoriteWorkflowRuleDto" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rule" : {
            "$ref" : "#/components/schemas/FavoriteWorkflowRuleEnum"
          }
        }
      },
      "FavoriteWorkflowRuleEnum" : {
        "type" : "string",
        "enum" : [ "MOVE_TO_ARCHIVED", "MOVE_TO_FAVORITE" ]
      }
    },
    "securitySchemes" : {
      "BearerAuth" : {
        "type" : "http",
        "description" : "Bearer token",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      },
      "OpenID" : {
        "type" : "openIdConnect",
        "openIdConnectUrl" : "https://sso.intescia.com/realms/intescia/.well-known/openid-configuration"
      }
    }
  }
}
